@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import "tailwindcss";

* {
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  cursor: pointer;
}

.DMSerif {
  font-family: 'DM Serif Text', serif;
}

*{
  box-sizing: border-box;
}